.home-car-ins-background {
  padding: 120px 0;
  background: url(/car-insure-total-bg.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 1.2;
  position: relative;
  height: 680px;
  color: white;
}

.home-car-ins-background::before {
  position: absolute;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.home-text-title-1 {
  margin-top: 20px;
  font-size: 3.25em;
}
